section#sobre-mi {
    background: #fff;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#sobre-mi h1{
    margin-bottom: 10px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    margin-top: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cv-section {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 15px; /* Espaciado entre los botones */
    margin-top: 10px;
}

.btn-cv {
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-cv:hover {
    background-color: #444444;
}

.linkedin-profile {
    display: block; /* Asegura que sea un contenedor bloque */
    /*width: 100%; /* Usa todo el ancho del contenedor */
    width: fit-content; /* Ajusta el ancho automáticamente al contenido */
    max-width: 850px; /* Limita el tamaño máximo */
    margin: 40px auto; /* Centra la caja horizontalmente y agrega espacio superior/inferior */
    padding: 50px; /* Espaciado interno */
    background: #f9f9f9; /* Fondo claro */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Alinea el texto en el centro */
    margin-bottom: 20px;
}

.linkedin-profile h3 {
    margin: 0 0 25px;
    font-size: 1.4rem;
    color: #333;
}

.linkedin-profile p {
    margin: 5px 0;
    color: #555;
}

.linkedin-profile a {
    color: #0077b5;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px; /* Agrega margen superior */
    display: inline-block; /* Asegurarse de que los márgenes sean efectivos */
}

.linkedin-profile a:hover {
    text-decoration: underline;
}

.linkedin-logo {
    width: 25px; /* Tamaño compacto para el diseño minimalista */
    height: auto; /* Mantiene las proporciones del logo */
    margin-right: 10px; /* Espacio entre el logo y el título */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}


/* Ajustes responsivos */
@media (max-width: 768px) {
    section#sobre-mi {
        padding: 15px;
    }

    .about-container {
        flex-direction: column; /* Apila la imagen y texto en dispositivos pequeños */
        text-align: center;
    }

    .profile-photo {
        margin-bottom: 15px;
    }
}
