#contacta-conmigo {
    margin: 30px auto;
    padding: 20px;
    max-width: 900px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#contacta-conmigo h2 {
    margin-bottom: 50px; /* Ajusta este valor según sea necesario */
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

form input:hover,
form textarea:hover,
form input:focus,
form textarea:focus {
    border-color: #000000; /* Borde negro */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra alrededor del recuadro */
    outline: none; /* Quita el borde azul por defecto */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Efecto suave */
}

form button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

/* Estilos básicos para botones y formularios */
button, input, textarea {
    font-family: inherit;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    
  }

form button:hover {
    background-color: #444444;
}
