/* Estilos globales y reseteos */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background: #f4f4f4;
  color: #333;
}

/* Estilos para encabezados que se usen a través de la app */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333; /* o cualquier color que prefieras */
}

/* Estilos básicos para botones y formularios */
button, input, textarea {
  font-family: inherit;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

button:hover {
  background-color: #005582;
  color: #fff;
  border-color: #004466;
}

/* Respuestas a media query para mejor visualización en dispositivos móviles */
@media (max-width: 768px) {
  h1, h2, h3 {
      font-size: 1.5em; /* Ajusta según necesidad */
  }
}
