/* Reset y estilos globales */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Fuente principal */
  box-sizing: border-box;
  background: #f4f4f4;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para código (opcional) */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
